/**** FRONT-END *******/

:root{
  --mybackground: #E0E1DD;
  --primary: #415A77;
  --fontcolor: #0D1B2A;
  --redchips: #E63946;
  --bluechips: #1D3557;
  --skybluechips: #457B9D;
  --linkedin: #1468C0;
  --twitter: #2E9DEE;
  --dark-background: #1D2226;
}

.project-container{
  width: 100%;
}

.project-card{
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ccc;
}

.project-title{
  height: 40px;
  font-size: 1.1em;
  cursor: pointer;
  padding-left: 15px;
  margin: 0;
  border-bottom: 1px solid #ccc;
  background-color: rgb(232, 232, 232);
  color: var(--fontcolor);
}

.project-title:hover{
  background-color: #d2d2d2;
}

.project-screenshot{
  width: 300px;
  margin: 15px 5px 25px 5px ;
  justify-content: flex-end;
  border: 1px solid var(--redchips);
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-tech{
  margin-left: 5px;
}
.project-link{
  margin-left: 5px;
  margin-right: 5px;
}

.clones-title{
  margin: 15px 0 15px 0;
}

